name: Auto Facebook News

permissions:
  contents: write

on:
  schedule:
    - cron: "*/30 8-23 * * *"
    - cron: "*/30 0-1 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pillow>=8.0
          pip install feedparser requests arabic-reshaper python-bidi

      - name: Run script
        run: python main.py
