name: Auto Facebook News

on:
  schedule:
    - cron: "*/30 8-23 * * *"
    - cron: "*/30 0-1 * * *"
  workflow_dispatch:

jobs:
  post:
    runs-on: ubuntu-latest
    env:
      TZ: Africa/Cairo

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run script
      env:
        PAGE_ID: ${{ secrets.PAGE_ID }}
        PAGE_ACCESS_TOKEN: ${{ secrets.PAGE_ACCESS_TOKEN }}
      run: python main.py
